In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder
from scipy.sparse import csr_matrix
from sklearn.preprocessing import StandardScaler
import datetime
from sklearn.preprocessing import StandardScaler
from scipy.stats import boxcox
import numpy as np

pd.set_option('display.max_columns', None)

import os

In [2]:
data=pd.read_csv("learningSet.txt")


Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

OSOURCE - symbol definitions not provided, too many categories
ZIP CODE - we are including state already
Identify columns that over 85% missing values

Remove those columns from the dataframe

Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

Note that there are a few null values in the column. We will first replace those null values using the code below:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

In [3]:
"""
1. Check for null values in all the columns
"""
nulls_percent=pd.DataFrame(data.isna().sum()/len(data)).reset_index()
nulls_percent.columns=["column_name","nulls_percentage"]
nulls_percent

    column_name  nulls_percentage
0       ODATEDW          0.000000
1       OSOURCE          0.000000
2         TCODE          0.000000
3         STATE          0.000000
4           ZIP          0.000000
..          ...               ...
476    MDMAUD_R          0.000000
477    MDMAUD_F          0.000000
478    MDMAUD_A          0.000000
479    CLUSTER2          0.001383
480    GEOCODE2          0.001383

[481 rows x 2 columns]

In [4]:
"""
2. Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. 
We will append this list and then drop all the columns in this list later:

OSOURCE - symbol definitions not provided, too many categories
ZIP CODE - we are including state already

Identify columns that over 85% missing values
"""


data["OSOURCE"]
data["ZIP"]

0        61081
1        91326
2        27017
3        95953
4        33176
         ...
95407    99504
95408    77379
95409    48910
95410    91320
95411    28409
Name: ZIP, Length: 95412, dtype: object

In [5]:
exclude_cols = ["OSOURCE","ZIP"]
limit_null=.25
columns_filter = nulls_percent[(nulls_percent["nulls_percentage"] > limit_null) & (~nulls_percent["column_name"].isin(exclude_cols))]
drop_list = list(columns_filter["column_name"])
data = data.drop(drop_list, axis=1)

In [6]:
"""
Reduce the number of categories in the column GENDER. The column should only have either "M" for males, 
"F" for females, and "other" for all the rest

Note that there are a few null values in the column. We will first replace those null values using the code below:

print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')
"""
print()

In [7]:
data["GENDER"].value_counts()

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [8]:
data["GENDER"]=data["GENDER"].fillna("F")

In [9]:
def clean_gender(x):
    if x == "M":
        return "M"
    elif x == "F":
        return "F"
    else:
        return "other"

In [10]:
data["GENDER"]=list(map(clean_gender,data["GENDER"]))

In [11]:
data["GENDER"].value_counts()

F        51277
M        39094
other     5041
Name: GENDER, dtype: int64