In [1]:
import pandas as pd
data=pd.read_csv("marketing_customer_analysis.csv")
data.head(3)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A

In [2]:
data.shape

(10910, 26)

In [3]:
data.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [4]:
data.dtypes

Unnamed: 0                         int64
Customer                          object
State                             object
Customer Lifetime Value          float64
Response                          object
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Last Claim          float64
Months Since Policy Inception      int64
Number of Open Complaints        float64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
Vehicle Class                     object
Vehicle Size                      object
Vehicle Type                      object
dtype: object

In [5]:
data=data.rename(columns={"EmploymentStatus":"EMPLOYMENT STATUS"})
data

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EMPLOYMENT STATUS,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [6]:
data.isnull().sum()/len(data)*100

Unnamed: 0                        0.000000
Customer                          0.000000
State                             5.783685
Customer Lifetime Value           0.000000
Response                          5.783685
Coverage                          0.000000
Education                         0.000000
Effective To Date                 0.000000
EMPLOYMENT STATUS                 0.000000
Gender                            0.000000
Income                            0.000000
Location Code                     0.000000
Marital Status                    0.000000
Monthly Premium Auto              0.000000
Months Since Last Claim           5.802016
Months Since Policy Inception     0.000000
Number of Open Complaints         5.802016
Number of Policies                0.000000
Policy Type                       0.000000
Policy                            0.000000
Renew Offer Type                  0.000000
Sales Channel                     0.000000
Total Claim Amount                0.000000
Vehicle Class                     5.701192
Vehicle Size                      5.701192
Vehicle Type                     50.247479
dtype: float64

In [7]:
data=data.drop(["Unnamed: 0"],axis=1)
data.head(4)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EMPLOYMENT STATUS,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A

In [8]:
data.columns=data.columns.str.upper()#1

In [9]:
data

,CUSTOMER,STATE,CUSTOMER LIFETIME VALUE,RESPONSE,COVERAGE,EDUCATION,EFFECTIVE TO DATE,EMPLOYMENT STATUS,GENDER,INCOME,...,NUMBER OF OPEN COMPLAINTS,NUMBER OF POLICIES,POLICY TYPE,POLICY,RENEW OFFER TYPE,SALES CHANNEL,TOTAL CLAIM AMOUNT,VEHICLE CLASS,VEHICLE SIZE,VEHICLE TYPE
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [10]:
data["STATE"].unique()

array(['Arizona', 'California', 'Washington', 'Oregon', nan, 'Nevada'],
      dtype=object)

In [11]:
data["STATE"]=data["STATE"].fillna("Unknown") #2

In [12]:
data["STATE"].value_counts()

California    3552
Oregon        2909
Arizona       1937
Nevada         993
Washington     888
Unknown        631
Name: STATE, dtype: int64

In [13]:
data["RESPONSE"].unique()

array(['No', 'Yes', nan], dtype=object)

In [14]:
data["RESPONSE"]=data["RESPONSE"].fillna("No Info") #3

In [15]:
data["RESPONSE"].value_counts()

No         8813
Yes        1466
No Info     631
Name: RESPONSE, dtype: int64

In [16]:
data.isnull().sum()/len(data)*100

CUSTOMER                          0.000000
STATE                             0.000000
CUSTOMER LIFETIME VALUE           0.000000
RESPONSE                          0.000000
COVERAGE                          0.000000
EDUCATION                         0.000000
EFFECTIVE TO DATE                 0.000000
EMPLOYMENT STATUS                 0.000000
GENDER                            0.000000
INCOME                            0.000000
LOCATION CODE                     0.000000
MARITAL STATUS                    0.000000
MONTHLY PREMIUM AUTO              0.000000
MONTHS SINCE LAST CLAIM           5.802016
MONTHS SINCE POLICY INCEPTION     0.000000
NUMBER OF OPEN COMPLAINTS         5.802016
NUMBER OF POLICIES                0.000000
POLICY TYPE                       0.000000
POLICY                            0.000000
RENEW OFFER TYPE                  0.000000
SALES CHANNEL                     0.000000
TOTAL CLAIM AMOUNT                0.000000
VEHICLE CLASS                     5.701192
VEHICLE SIZE                      5.701192
VEHICLE TYPE                     50.247479
dtype: float64

In [27]:
data["MONTHS SINCE LAST CLAIM"]=data["MONTHS SINCE LAST CLAIM"].fillna("No Claims") #4

In [30]:
data["NUMBER OF OPEN COMPLAINTS"]=data["NUMBER OF OPEN COMPLAINTS"].fillna(0) #5

In [35]:
data.isna().sum()

CUSTOMER                            0
STATE                               0
CUSTOMER LIFETIME VALUE             0
RESPONSE                            0
COVERAGE                            0
EDUCATION                           0
EFFECTIVE TO DATE                   0
EMPLOYMENT STATUS                   0
GENDER                              0
INCOME                              0
LOCATION CODE                       0
MARITAL STATUS                      0
MONTHLY PREMIUM AUTO                0
MONTHS SINCE LAST CLAIM             0
MONTHS SINCE POLICY INCEPTION       0
NUMBER OF OPEN COMPLAINTS           0
NUMBER OF POLICIES                  0
POLICY TYPE                         0
POLICY                              0
RENEW OFFER TYPE                    0
SALES CHANNEL                       0
TOTAL CLAIM AMOUNT                  0
VEHICLE CLASS                       0
VEHICLE SIZE                      622
VEHICLE TYPE                     5482
dtype: int64

In [34]:
data["VEHICLE CLASS"]=data["VEHICLE CLASS"].fillna("NO INFO") #6

In [37]:
data["VEHICLE SIZE"]=data["VEHICLE SIZE"].fillna("NO INFO") #7

In [40]:
nan_data=data.isna().sum()/len(data)*100  #1!!!!!
nan_data=nan_data.reset_index()
nan_data.columns=("CATEGORY","NANs")
nan_data

                         CATEGORY       NANs
0                        CUSTOMER   0.000000
1                           STATE   0.000000
2         CUSTOMER LIFETIME VALUE   0.000000
3                        RESPONSE   0.000000
4                        COVERAGE   0.000000
5                       EDUCATION   0.000000
6               EFFECTIVE TO DATE   0.000000
7               EMPLOYMENT STATUS   0.000000
8                          GENDER   0.000000
9                          INCOME   0.000000
10                  LOCATION CODE   0.000000
11                 MARITAL STATUS   0.000000
12           MONTHLY PREMIUM AUTO   0.000000
13        MONTHS SINCE LAST CLAIM   0.000000
14  MONTHS SINCE POLICY INCEPTION   0.000000
15      NUMBER OF OPEN COMPLAINTS   0.000000
16             NUMBER OF POLICIES   0.000000
17                    POLICY TYPE   0.000000
18                         POLICY   0.000000
19               RENEW OFFER TYPE   0.000000
20                  SALES CHANNEL   0.000000
21             TOTAL CLAIM AMOUNT   0.000000
22                  VEHICLE CLASS   0.000000
23                   VEHICLE SIZE   0.000000
24                   VEHICLE TYPE  50.247479

In [41]:
columns_drop=nan_data[nan_data["NANs"]>20]["CATEGORY"]
data=data.drop(columns_drop,axis=1)

In [42]:
data

,CUSTOMER,STATE,CUSTOMER LIFETIME VALUE,RESPONSE,COVERAGE,EDUCATION,EFFECTIVE TO DATE,EMPLOYMENT STATUS,GENDER,INCOME,...,MONTHS SINCE POLICY INCEPTION,NUMBER OF OPEN COMPLAINTS,NUMBER OF POLICIES,POLICY TYPE,POLICY,RENEW OFFER TYPE,SALES CHANNEL,TOTAL CLAIM AMOUNT,VEHICLE CLASS,VEHICLE SIZE
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,31,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,40,0.0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize
10909,IV32877,Unknown,6857.519928,No Info,Basic,Bachelor,1/8/11,Unemployed,M,0,...,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize

In [44]:
data.isna().sum()/len(data)*100

CUSTOMER                         0.0
STATE                            0.0
CUSTOMER LIFETIME VALUE          0.0
RESPONSE                         0.0
COVERAGE                         0.0
EDUCATION                        0.0
EFFECTIVE TO DATE                0.0
EMPLOYMENT STATUS                0.0
GENDER                           0.0
INCOME                           0.0
LOCATION CODE                    0.0
MARITAL STATUS                   0.0
MONTHLY PREMIUM AUTO             0.0
MONTHS SINCE LAST CLAIM          0.0
MONTHS SINCE POLICY INCEPTION    0.0
NUMBER OF OPEN COMPLAINTS        0.0
NUMBER OF POLICIES               0.0
POLICY TYPE                      0.0
POLICY                           0.0
RENEW OFFER TYPE                 0.0
SALES CHANNEL                    0.0
TOTAL CLAIM AMOUNT               0.0
VEHICLE CLASS                    0.0
VEHICLE SIZE                     0.0
dtype: float64

In [45]:
import time
from datetime import date

In [53]:
data["EFFECTIVE TO DATE"]=pd.to_datetime(data["EFFECTIVE TO DATE"],errors="coerce")

In [62]:
data["MONTH"]=data["EFFECTIVE TO DATE"].dt.month

In [63]:
data

,CUSTOMER,STATE,CUSTOMER LIFETIME VALUE,RESPONSE,COVERAGE,EDUCATION,EFFECTIVE TO DATE,EMPLOYMENT STATUS,GENDER,INCOME,...,NUMBER OF OPEN COMPLAINTS,NUMBER OF POLICIES,POLICY TYPE,POLICY,RENEW OFFER TYPE,SALES CHANNEL,TOTAL CLAIM AMOUNT,VEHICLE CLASS,VEHICLE SIZE,MONTH
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,0.0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,2
10909,IV32877,Unknown,6857.519928,No Info,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,1

In [65]:
data["EFFECTIVE TO DATE"].value_counts()

2011-01-10    239
2011-01-27    239
2011-01-31    224
2011-01-17    221
2011-02-14    221
2011-01-26    220
2011-01-03    216
2011-01-19    212
2011-02-27    205
2011-01-28    203
2011-02-26    202
2011-01-20    201
2011-01-21    199
2011-02-04    198
2011-02-07    197
2011-02-19    196
2011-02-03    195
2011-01-11    195
2011-01-05    193
2011-02-28    192
2011-02-22    191
2011-01-02    191
2011-02-18    186
2011-02-10    186
2011-02-11    184
2011-01-23    184
2011-02-12    183
2011-01-18    183
2011-02-25    183
2011-01-08    182
2011-01-29    182
2011-01-09    182
2011-02-05    181
2011-02-01    181
2011-02-02    181
2011-02-09    180
2011-01-14    180
2011-01-24    179
2011-02-21    178
2011-01-07    178
2011-02-23    176
2011-01-30    173
2011-01-15    172
2011-01-16    172
2011-01-13    171
2011-01-01    171
2011-02-06    171
2011-01-25    168
2011-02-13    168
2011-02-16    167
2011-02-24    162
2011-02-17    162
2011-01-06    161
2011-02-20    156
2011-02-15    155
2011-02-08    155
2011-01-22    148
2011-01-12    148
2011-01-04    131
Name: EFFECTIVE TO DATE, dtype: int64

In [66]:
qtr1=data[data["MONTH"]<=3]

In [67]:
qtr1

,CUSTOMER,STATE,CUSTOMER LIFETIME VALUE,RESPONSE,COVERAGE,EDUCATION,EFFECTIVE TO DATE,EMPLOYMENT STATUS,GENDER,INCOME,...,NUMBER OF OPEN COMPLAINTS,NUMBER OF POLICIES,POLICY TYPE,POLICY,RENEW OFFER TYPE,SALES CHANNEL,TOTAL CLAIM AMOUNT,VEHICLE CLASS,VEHICLE SIZE,MONTH
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,0.0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,2
10909,IV32877,Unknown,6857.519928,No Info,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,1

In [75]:
import pandas as pd
data=pd.read_csv("marketing_customer_analysis.csv")
import time
from datetime import date

def clean_data(data):
    nan_data=data.isna().sum()/len(data)*100 
    nan_data=nan_data.reset_index()
    nan_data.columns=("CATEGORY","NANs")
    columns_drop=nan_data[nan_data["NANs"]>20]["CATEGORY"]
    data=data.drop(columns_drop,axis=1)
    
    data=data.rename(columns={"EmploymentStatus":"EMPLOYMENT STATUS"})
    data=data.drop(["Unnamed: 0"],axis=1)
    data.columns=data.columns.str.upper()
    data["STATE"]=data["STATE"].fillna("Unknown")
    data["RESPONSE"]=data["RESPONSE"].fillna("No Info")
    data["MONTHS SINCE LAST CLAIM"]=data["MONTHS SINCE LAST CLAIM"].fillna("No Claims")
    data["NUMBER OF OPEN COMPLAINTS"]=data["NUMBER OF OPEN COMPLAINTS"].fillna(0)
    data["VEHICLE CLASS"]=data["VEHICLE CLASS"].fillna("NO INFO")
    data["VEHICLE SIZE"]=data["VEHICLE SIZE"].fillna("NO INFO")
    data["EFFECTIVE TO DATE"]=pd.to_datetime(data["EFFECTIVE TO DATE"],errors="coerce")
    data["MONTH"]=data["EFFECTIVE TO DATE"].dt.month
    
    return data

In [78]:
clean_data=clean_data(data)

In [79]:
clean_data

,CUSTOMER,STATE,CUSTOMER LIFETIME VALUE,RESPONSE,COVERAGE,EDUCATION,EFFECTIVE TO DATE,EMPLOYMENT STATUS,GENDER,INCOME,...,NUMBER OF OPEN COMPLAINTS,NUMBER OF POLICIES,POLICY TYPE,POLICY,RENEW OFFER TYPE,SALES CHANNEL,TOTAL CLAIM AMOUNT,VEHICLE CLASS,VEHICLE SIZE,MONTH
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,0.0,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,0.0,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,2
10909,IV32877,Unknown,6857.519928,No Info,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,1